import styled from "styled-components";

export const Header = styled.header`
  border-bottom: 1px solid #eee;
`;

export const Logo = styled.img`
  height: 64px;
`;

export const Nav = styled.nav`
  text-align: right;
`;

export const Link = styled.a`
  color: #eee;
`;